.top-game-info {
  text-align: center; }
  .top-game-info .card {
    display: inline-block;
    padding: 10px 20px; }
    .top-game-info .card a {
      display: block;
      margin-top: 15px; }

.slider-container {
  width: 250px; }

.card-holder {
  display: inline-block; }

.card-container {
  width: 157px;
  height: 220px;
  position: relative;
  perspective: 800px;
  display: inline-block;
  margin: 5px; }

.card-unit {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s; }
  .card-unit figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
  .card-unit .back {
    transform: rotateY(180deg);
    z-index: 10; }
  .card-unit.flipped {
    transform: rotateY(180deg); }
